@model IEnumerable<JobService.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Job List</h1>

<table class="table table-striped table-condensed" id="userTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDelete)
                </td>
                <td>
                    @if (item.Status == "Waiting")
                    {
                        <input type="submit" class="statusButton btn btn-success" value="Accept" data-id="@item.JobId" />
                        <input type="submit" class="statusButton btn btn-danger" value="Deny" data-id="@item.JobId" />
                        <a asp-action="Details" asp-route-id="@item.JobId" class="fa-solid fa-circle-info"></a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.JobId" class="fa-solid fa-circle-info"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(".statusButton").click(function () {
            var id = $(this).data("id");
            var buttonValue = $(this).val();

            var confirmText = buttonValue === "Accept" ? "Yes, accept it!" : "Yes, deny it!";
            var successText = buttonValue === "Accept" ? "Job has been accepted." : "Job has been denied.";
            var icon = buttonValue === "Accept" ? "success" : "error";

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: confirmText
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/Jobs/UpdateStatus/" + id + "?Status=" + buttonValue,
                        type: "GET",
                        success: function (result) {
                            Swal.fire(
                                buttonValue + '!',
                                successText,
                                icon
                            ).then(() => {
                                location.reload();
                            })
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                }
            });
        });
    </script>
}
